@media screen and (max-width:576px) {
    .category{
        display: flex;
        flex-direction: column;
        height: 300px;
    }
    .styles{
        display: flex;
        flex-direction: column;
    }
}
